@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #0f141e;
  background: #f1f1f1;
}
.avatar {
  width: 200px;
  border-radius: 28px;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}
a {
  color: #000;
  text-decoration: none;
}

a:active {
  color: blue;
}
a:visited {
  color: grey;
}

.info-text p {
  font-style: italic;
  font-weight: bold;
  color: #86898f;
  margin: 0;
}
.info-text {
  margin-left: 20px;
}
.info {
  margin-bottom: 20px;
  display: flex;
}
.info-text h4 {
  margin-bottom: 10px;
}

@media (max-width: 650px) {
  .info {
    display: block;
    text-align: center;
  }
}
.card {
  border-radius: 20px;
  padding: 15px 20px;
  margin-bottom: 20px;
}
.card h2 {
  margin-bottom: 10px;
}
.conteiner {
  max-width: 750px;
  margin: auto;
  padding: 30px;
}
.bg-yellow {
  background: #fff9dc;
}
.bg-red {
  background: #ffe5e5;
}
.bg-green {
  background: #e5ffe7;
}
.btn {
  background: #111;
  padding: 15px 20px;
  color: #fff;
  border: none;
  font-family: inherit;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.8;
}

.list {
  padding: 0px 20px;
}
.list li {
  color: #86898f;
  margin-bottom: 10px;
}
.table {
  width: 100%;
}
.table td {
  padding-bottom: 10px;
}

.table td:nth-child(2),
.table td:nth-child(3) {
  color: #86898f;
}

.form h2 {
  text-align: center;
}

.form-group label {
  display: block;
  font-size: 14px;
  color: #86898f;
}

.form-group input,
.form-group textarea {
  width: 100%;
  box-sizing: border-box;
  border: none;
  background: transparent;
  border-bottom: 1px solid #ccc;
  color: #000;
  padding: 15px 0 10px;
  outline: none;
  font-family: inherit;
}
.form-row .form-group {
  /* display: inline-block; */
  margin-right: 20px;
  /* width: calc(50%-20px); */
  width: 50%;
}
.form-row .form-group :last-child {
  margin-right: 0;
}
.form-row {
  margin-bottom: 10px;
  display: flex;
}
@media (max-width: 650px) {
  .form-row {
    display: block;
    text-align: center;
  }
  .form-row .form-group {
    width: 100%;
    margin-right: 0;
    margin-bottom: 1;
  }
}
.projects ul {
  display: flex;
  border: #fff;
  width: 100%;
  margin-bottom: 10px;
  box-sizing: border-box;
}
.projects ul li {
  width: 100%;
  text-align: justify;
  list-style-type: none;
}
.projects a:hover {
  font-size: 1.1em;
  color: royalblue;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

a {
  position: relative;
  padding: 15px 40px;
  display: block;
  text-align: center;
  margin-left: -20px;
  width: 200px;
  overflow: hidden;
  border-radius: 40px;
  margin-right: 40px;
}
a span {
  position: relative;
  color: #fff;
  fot-size: 20px;
  font-family: Arial;
  letter-spacing: 8px;
  z-index: 1;
}

a .liquid {
  position: absolute;
  top: -80px;
  left: 0;
  width: 200px;
  height: 200px;
  background: #4973ff;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

a .liquid::after,
a .liquid::before {
  content: "";
  width: 200%;
  height: 200%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
  background: #000;
}

a .liquid::before {
  border-radius: 45%;
  background: rgba(20, 20, 20, 1);
  animation: animate 5s linear infinite;
}

a .liquid::after {
  border-radius: 40%;
  background: rgba(20, 20, 20, 0.5);
  animation: animate 10s linear infinite;
}

a:hover .liquid {
  top: -120px;
}

@keyframes animate {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -75%) rotate(300deg);
  }
}
